*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    background-color: #DAD7CD;
}

a{
    text-decoration: none;
    color:#344E41
}

ul{
    list-style: none;
}

/* Header Section */
header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#DAD7CD, #070b0b);
    background-size: cover;
    border-radius: 10px;

    color: #fff;
    padding: 1em 0;
    text-align: center;
    height: 460px;
    /*justify-content: space-between;*/
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header ul{
    display: flex;
    justify-content: space-between;
}

header ul li{
    padding: 0 1em;
}

header ul li a{
    /*color: #fff;*/
    text-decoration: none;
    font-weight: bold;
    color: #344E41;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

header ul li a:hover,
#cat-filtering ul li a:hover {
    color: goldenrod; /* Or any other color that stands out */
}

#searchBar{
    padding: 180px;
}

#searchBar input[type=text]{
    padding: 1em;
    border-radius: 50px;
    width: 500px;
    text-align: center;
}

#searchBar input[type=text]:focus{
    outline: none;
}

#searchBar input[type=submit]{
    background-color: goldenrod;
    font-weight: bolder;
    padding: 1em;
}


main #cat-filtering{
    padding: 2em 0;
}

#cat-filtering{
    display: flex;
    justify-content: center;

}

#cat-filtering ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

#cat-filtering ul li{
    padding: 0 1.5em;
}

#cat-filtering ul li a{
    /*color: #4d4b4b;*/
    font-weight: bolder;
}


.main{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .event-card {
        margin-bottom: 20px;
    }
}

.event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.event-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.event-card:hover img {
    transform: scale(1.05); /* Zoom in slightly */
    opacity: 0.7; /* Darken the image */
}

.event-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}



footer{
    display: flex;
    justify-content: center;
    background-color: #070b0b;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
    border-radius: 8px;
    font-size: 1em;

}
footer p{
    padding: 0 1em;
}
footer a:hover {
    color: goldenrod;
}